torch==2.2.0
transformers==4.48.0
datasets==2.13.0
accelerate==0.21.0
bitsandbytes==0.40.2
trl==0.4.7
safetensors>=0.3.1
git+https://github.com/huggingface/peft.git
huggingface
ipywidgets
scipy
wandb
ninja
packaging
python-dotenv
urllib3
chardet
# llama-trainer
python-dotenv
Jinja2
fsspec==2023.9.2
sentencepiece